<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Buy4Me</title>

        <link rel="stylesheet" href="main.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <nav id="page-header" class="navbar navbar-expand-lg bg-light">
            <div class="container">
                <div class="main-logo">
                    <figure class="mr-3 pt-2 mb-0">
                        <a href="/">
                            <img
                                src="/images/cloud2.png"
                                srcset="/img/cloud2.png 1x/"
                                target=" blank"
                                rel="noopener noreferrer"
                            />
                        </a>

                        <figcaption>
                            <a
                                class="navbar-brand"
                                href="/"
                                target=" blank"
                                rel="noopener noreferrer"
                                >Buy4Me</a
                            >
                        </figcaption>
                    </figure>
                </div>

                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <% if (authUser) { %>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                aria-current="page"
                                href="/request"
                                target=" blank"
                                rel="noopener noreferrer"
                                >Post a request</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                aria-current="page"
                                href="/profile"
                                target=" blank"
                                rel="noopener noreferrer"
                                >My Profile</a
                            >
                        </li>
                        <li class="nav-item">
                            <form method="POST" action="/logout">
                                <button
                                    type="submit"
                                    class="btn btn-outline-success"
                                >
                                    Logout
                                </button>
                            </form>
                        </li>

                        <% } else { %>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                aria-current="page"
                                href="/signup"
                                target=" blank"
                                rel="noopener noreferrer"
                                >Sign Up</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                aria-current="page"
                                href="/login"
                                target=" blank"
                                rel="noopener noreferrer"
                                >Login</a
                            >
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>

<main></main>
