#page-home {
    background-image: url(https://media.istockphoto.com/photos/cute-children-or-baby-card-white-clouds-on-the-light-blue-wooden-picture-id1090975842?k=20&m=1090975842&s=612x612&w=0&h=4Ko6v1TJSVqo343f7pPKgU7-bAadGpwHfTTTw7Nokaw=);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#page-header img {
    width: 3rem;
}

.navbar {
    background-color: rgb(228, 255, 231);
}

.login-header a {
    color: rgb(0, 125, 78);
}

.login-header :hover {
    color: white;
}

.login-header button {
    margin-left: 1rem;
}

.main-logo figure {
    display: flex;
}

.main-logo figcaption {
    margin-top: 0.5rem;
}

.search {
    margin-top: 1rem;
}

.search-bar {
    width: 40%;
    margin-right: 2%;
}

.card-deck {
    display: flexbox;
    margin-left: 3rem;
}

.contact {
    margin-left: 10%;
}

.item-request {
    height: 6%;
    width: 14rem;
}

.card-img-top {
    height: 10rem;
    margin-top: 5%;
}

.item-request {
    margin-right: 3rem;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-btn {
    margin-right: 10%;
}

.update-btn {
    margin-right: 10%;
}

.update-btn {
    margin-right: 10%;
}

.signup-cancel-btn a {
    color: rgb(0, 125, 78);
}

.signup-cancel-btn {
    color: white;
}

#username p {
    font-size: small;
    color: gray;
    font-style: italic;
}

#password p {
    font-size: small;
    color: gray;
    font-style: italic;
}

#quantity p {
    font-size: small;
    color: gray;
    font-style: italic;
}

.request-card a {
    margin-right: 10%;
}
