.search-bar {
    width: 30%;
}

.card-deck {
    display: flexbox;
    margin-left: 3rem;
}

.item-request {
    margin-right: 3rem;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-btn {
    margin-right: 10%;
}
