.search-bar {
    width: 30%;
}

.card-deck {
    display: flexbox;
    margin-left: 3rem;
}

.item-request {
    height: 6%;
    width: 15%;
}

.item-img {
    height: 10rem;
    width: 10rem;
    margin-top: 5%;
}

.item-request {
    margin-right: 3rem;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-btn {
    margin-right: 10%;
}

.signup-cancel-btn a {
    color: rgb(0, 125, 78);
}

.signup-cancel-btn {
    color: white;
}

#password p {
    font-size: small;
    color: gray;
    font-style: italic;
}
