<%- include('../partials/header'); %>

<div id="page-home">
    <div id="homepage-cover">
        <div class="container">
            <h1>Your one stop to get your favourite items</h1>
        </div>
    </div>

    <form class="form-inline">
        <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search by Country"
            aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
        </button>
    </form>
</div>
