<%- include('../partials/header'); %>

<div id="page-home">
    <div id="homepage-cover">
        <div class="container">
            <h1>Get your favourite items from everywhere!</h1>
        </div>
    </div>

    <form class="form-inline">
        <div class="search-bar">
            <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search by Country"
                aria-label="Search"
            />
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
        </button>
    </form>
    <div class="container">
        <div class="d-flex align-content-stretch flex-wrap mt-3 card-deck">
            <div class="card border-dark mb-3" style="width: 16%; height: 16%">
                <div class="card-header">starskitten</div>
                <img
                    src="https://www.tnp.sg/sites/default/files/styles/large-portrait/public/articles/2019/09/19/NP_20190919_NTUC19JOXD_5125229.jpg?itok=bi5CuWqz"
                    class="card-img-top"
                    alt="Little Prince instant noodle"
                />
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">
                        Little Prince instant noodle
                    </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: Taiwan</li>
                        <li class="list-group-item">Quantity: 6</li>
                        <li class="list-group-item">Price offered (SGD): $8</li>
                        <li class="list-group-item text-center">
                            <a href="" class="btn btn-outline-success"
                                >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card border-dark mb-3" style="width: 16%; height: 16%">
                <div class="card-header">toastie</div>
                <img
                    src="https://japan-trip-culture.com/wp-content/uploads/2019/05/Screen-Shot-2019-05-05-at-12.28.11-AM.png"
                    class="card-img-top"
                    alt="Jyagariko"
                />
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">Jyagariko</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: Japan</li>
                        <li class="list-group-item">Quantity: 3</li>
                        <li class="list-group-item">Price offered (SGD): $5</li>
                        <li class="list-group-item text-center">
                            <a href="" class="btn btn-outline-success"
                                >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card border-dark mb-3" style="width: 16%; height: 16%">
                <div class="card-header">natsuiii</div>
                <img
                    src="https://static.mothership.sg/1/2020/05/1GM01205_724-1.jpg"
                    class="card-img-top"
                    alt="Fila x Subway shoes"
                />
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">
                        Fila x Subway shoes Size:38
                    </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: Korea</li>
                        <li class="list-group-item">Quantity: 1</li>
                        <li class="list-group-item">
                            Price offered (SGD): $150
                        </li>
                        <li class="list-group-item text-center">
                            <a href="" class="btn btn-outline-success"
                                >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card border-dark mb-3" style="width: 16%; height: 16%">
                <div class="card-header">Abeybaby</div>
                <img
                    src="https://www.ubuy.vn/productimg/?image=aHR0cHM6Ly9pLmViYXlpbWcuY29tL2ltYWdlcy9nL1JuRUFBT1N3OHcxWUEweTgvcy1sNTAwLmpwZw.jpg"
                    class="card-img-top"
                    alt="Lach Gummi Softies"
                />
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">Lach Gummi Softies</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: Germany</li>
                        <li class="list-group-item">Quantity: 4</li>
                        <li class="list-group-item">
                            Price offered (SGD): $7.50
                        </li>
                        <li class="list-group-item text-center">
                            <a href="" class="btn btn-outline-success"
                                >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card border-dark mb-3" style="width: 16%; height: 16%">
                <div class="card-header">Sykkunno</div>
                <img
                    src="https://cw.lnwfile.com/_/cw/_raw/cj/zg/uv.jpg"
                    class="card-img-top"
                    alt="I'm Real Mango"
                />
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">I'm Real Mango</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: Thailand</li>
                        <li class="list-group-item">Quantity: 10</li>
                        <li class="list-group-item">
                            Price offered (SGD): $12
                        </li>
                        <li class="list-group-item text-center">
                            <a href="" class="btn btn-outline-success"
                                >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card border-dark mb-3" style="width: 16%; height: 16%">
                <div class="card-header">xingQitian</div>
                <img
                    src="https://ae01.alicdn.com/kf/HTB15fAJHVXXXXcjXFXXq6xXFXXXd/Chinese-specialty-snacks-TONGYI-noodles-travel-portable-Spicy-food-Chinese-special-food-delicious-noodles-4bag-lot.jpg_Q90.jpg_.webp"
                    class="card-img-top"
                    alt="Beef Instant noodles"
                />
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">Beef Instant noodles</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: China</li>
                        <li class="list-group-item">Quantity: 6</li>
                        <li class="list-group-item">Price offered (SGD): $9</li>
                        <li class="list-group-item text-center">
                            <a href="" class="btn btn-outline-success"
                                >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card border-dark mb-3" style="width: 16%; height: 16%">
                <div class="card-header">xXchipsyXx</div>
                <img
                    src="https://i.pinimg.com/736x/2d/ea/ee/2deaeeced60e0c028417433b75df5a6c.jpg"
                    class="card-img-top"
                    alt="Honey Butter Chip"
                />
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">Honey Butter Chip</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: Korea</li>
                        <li class="list-group-item">Quantity: 2</li>
                        <li class="list-group-item">Price offered (SGD): $3</li>
                        <li class="list-group-item text-center">
                            <a href="" class="btn btn-outline-success"
                                >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card border-dark mb-3" style="width: 16%; height: 16%">
                <div class="card-header">valky</div>
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAGNEHaXu7noDPK39umGYOIVV8yTmheH6mLQ&usqp=CAU"
                    class="card-img-top"
                    alt="Koala Cookies"
                />
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">Koala Mango Cookies</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: Hong Kong</li>
                        <li class="list-group-item">Quantity: 10</li>
                        <li class="list-group-item">
                            Price offered (SGD): $5.50
                        </li>
                        <li class="list-group-item text-center">
                            <a href="" class="btn btn-outline-success"
                                >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card border-dark mb-3" style="width: 16%; height: 16%">
                <div class="card-header">fueslie</div>
                <img
                    src="http://cdn.shopify.com/s/files/1/0574/3129/4129/products/VitalisJoghurtMusli.jpg?v=1634489837"
                    class="card-img-top"
                    alt="Dr Oetker Joghurt Müsli"
                />
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">
                        Dr Oetker Joghurt Müsli
                    </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: Germany</li>
                        <li class="list-group-item">Quantity: 2</li>
                        <li class="list-group-item">
                            Price offered (SGD): $13.50
                        </li>
                        <li class="list-group-item text-center">
                            <a href="" class="btn btn-outline-success"
                                >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card border-dark mb-3" style="width: 16%; height: 16%">
                <div class="card-header">AmLoveCaps</div>
                <img
                    src="https://m.media-amazon.com/images/I/811hjolWF6L._SX425_.jpg"
                    class="card-img-top"
                    alt="Boston Red Box 47 hat"
                />
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">
                        Boston Red Box 47 Fitted hat
                    </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: USA</li>
                        <li class="list-group-item">Quantity: 1</li>
                        <li class="list-group-item">
                            Price offered (SGD): $45
                        </li>
                        <li class="list-group-item text-center">
                            <a href="" class="btn btn-outline-success"
                                >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card border-dark mb-3" style="width: 16%; height: 16%">
                <div class="card-header">PeterParker</div>
                <img
                    src="https://cdn-images.farfetch-contents.com/13/91/79/64/13917964_21714976_600.jpg"
                    class="card-img-top"
                    alt="Air Jordan 1 Mid SE lakers"
                />
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">
                        Air Jordan 1 Mid SE lakers Size: 42
                    </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: USA</li>
                        <li class="list-group-item">Quantity: 1</li>
                        <li class="list-group-item">
                            Price offered (SGD): $1700
                        </li>
                        <li class="list-group-item text-center">
                            <a href="" class="btn btn-outline-success"
                                >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
