<%- include('../partials/header'); %>

<div id="page-home">
    <div id="homepage-cover">
        <div class="container">
            <h1>Get your favourite items from everywhere!</h1>
        </div>
    </div>

    <form class="form">
        <div class="search-bar">
            <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search by Country"
                aria-label="Search"
            />
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
        </button>
    </form>

    <div id="items-posted">
        <div id="item-1">
            <h3>Requestor1</h3>
            <img
                src="https://www.tnp.sg/sites/default/files/styles/large-portrait/public/articles/2019/09/19/NP_20190919_NTUC19JOXD_5125229.jpg?itok=bi5CuWqz"
                alt="Little Prince instant noodle"
            />
            <p>Description: Little Prince instant noodle</p>
            <p>Country: Taiwan</p>
            <p>Quantity: 6</p>
            <p>Price offered (SGD): $8</p>
        </div>
        <div id="item-2">
            <h3>Requestor2</h3>
            <img
                src="https://japan-trip-culture.com/wp-content/uploads/2019/05/Screen-Shot-2019-05-05-at-12.28.11-AM.png"
                alt="Jyagariko"
            />
            <p>Description: Jyagariko</p>
            <p>Country: Japan</p>
            <p>Quantity: 3</p>
            <p>Price offered (SGD): $5</p>
        </div>
        <div id="item-3">
            <h3>Requestor3</h3>
            <img
                src="https://static.mothership.sg/1/2020/05/1GM01205_724-1.jpg"
                alt="Fila x Subway shoes"
            />
            <p>Description: Fila x Subway shoes Size:38</p>
            <p>Country: Korea</p>
            <p>Quantity: 1</p>
            <p>Price offered (SGD): $150</p>
        </div>
        <div id="item-4">
            <h3>Requestor4</h3>
            <img
                src="https://www.ubuy.vn/productimg/?image=aHR0cHM6Ly9pLmViYXlpbWcuY29tL2ltYWdlcy9nL1JuRUFBT1N3OHcxWUEweTgvcy1sNTAwLmpwZw.jpg"
                alt="Lach Gummi Softies"
            />
            <p>Description: Lach Gummi Softies</p>
            <p>Country: Germany</p>
            <p>Quantity: 4</p>
            <p>Price offered (SGD): $7.50</p>
        </div>
        <div id="item-5">
            <h3>Requestor5</h3>
            <img
                src="https://cw.lnwfile.com/_/cw/_raw/cj/zg/uv.jpg"
                alt="I'm Real Mango"
            />
            <p>Description: I'm Real Mango</p>
            <p>Country: Thailand</p>
            <p>Quantity: 10</p>
            <p>Price offered (SGD): $12</p>
        </div>
        <div id="item-6">
            <h3>Requestor6</h3>
            <img
                src="https://ae01.alicdn.com/kf/HTB15fAJHVXXXXcjXFXXq6xXFXXXd/Chinese-specialty-snacks-TONGYI-noodles-travel-portable-Spicy-food-Chinese-special-food-delicious-noodles-4bag-lot.jpg_Q90.jpg_.webp"
                alt="Beef Instant noodles"
            />
            <p>Description: Beef Instant noodles</p>
            <p>Country: China</p>
            <p>Quantity: 6</p>
            <p>Price offered (SGD): $9</p>
        </div>
        <div id="item-7">
            <h3>Requestor7</h3>
            <img
                src="https://i.pinimg.com/736x/2d/ea/ee/2deaeeced60e0c028417433b75df5a6c.jpg"
                alt="Honey Butter Chip"
            />
            <p>Description: Honey Butter Chip</p>
            <p>Country: Korea</p>
            <p>Quantity: 2</p>
            <p>Price offered (SGD): $3</p>
        </div>
        <div id="item-8">
            <h3>Requestor8</h3>
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAGNEHaXu7noDPK39umGYOIVV8yTmheH6mLQ&usqp=CAU"
                alt="Koala Cookies"
            />
            <p>Description: Koala Mango Cookies</p>
            <p>Country: Hong Kong</p>
            <p>Quantity: 10</p>
            <p>Price offered (SGD): $5.50</p>
        </div>
        <div id="item-9">
            <h3>Requestor9</h3>
            <img
                src="http://cdn.shopify.com/s/files/1/0574/3129/4129/products/VitalisJoghurtMusli.jpg?v=1634489837"
                alt="Dr Oetker Joghurt Müsli"
            />
            <p>Description: Dr Oetker Joghurt Müsli</p>
            <p>Country: Germany</p>
            <p>Quantity: 2</p>
            <p>Price offered (SGD): $13.50</p>
        </div>
        <div id="item-10">
            <h3>Requestor10</h3>
            <img
                src="https://m.media-amazon.com/images/I/811hjolWF6L._SX425_.jpg"
                alt="Boston Red Box 47 hat"
            />
            <p>Description: Boston Red Box 47 Fitted hat</p>
            <p>Country: USA</p>
            <p>Quantity: 1</p>
            <p>Price offered (SGD): $45</p>
        </div>
    </div>
    <div id="item-11">
        <h3>Requestor11</h3>
        <img
            src="https://cdn-images.farfetch-contents.com/13/91/79/64/13917964_21714976_600.jpg"
            alt="Air Jordan 1 Mid SE lakers"
        />
        <p>Description: Air Jordan 1 Mid SE lakers Size: 42</p>
        <p>Country: USA</p>
        <p>Quantity: 1</p>
        <p>Price offered (SGD): $1700</p>
    </div>
</div>
