<%- include('../partials/header'); %>

<div id="page-home">
    <div id="homepage-cover">
        <div class="container text-center mt-3">
            <h1>Buy your favourite items from everywhere!</h1>
        </div>
    </div>

    <form class="d-flex justify-content-center">
        <div class="search-bar">
            <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search by Country"
                aria-label="Search"
            />
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
        </button>
    </form>

    <%- include('../requests/index'); %>
</div>
