<%- include('../partials/header'); %>

<div id="page-home">
    <div id="homepage-cover">
        <div class="container">
            <h1>Get your favourite items from everywhere!</h1>
        </div>
    </div>

    <form class="form-inline">
        <div class="search-bar">
            <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search by Country"
                aria-label="Search"
            />
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
        </button>
    </form>

    <%- include('../items/request'); %>
</div>
