<%- include('../partials/header'); %>

<div id="page-profile">
    <div class="container">
        <p><%= req.session.user.username %></p>
        <h1>Welcome to your profile, <%= user %></h1>
    </div>
</div>
<!-- PROBLEM -->
